.gpt3__blog {
    display: flex;
    flex-direction: column;
}

.gpt3__blog-heading {
    width: 100%;
    text-align: left;
}

.gpt3__blog-heading h1 {
    font-family: var(--font-family);
font-size: 62px;
font-weight: 800;
line-height: 75px;
letter-spacing: -0.04em;
}